body, html {
    height: 100%;
    padding: 0;
    font-family: "poppins",sans-serif;
    overflow: hidden;
  }
body {
    background-image: url(./img.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flow-root;
    justify-content:left;
    align-items: center;
    height: 100vh;
    border: transparent white;
    
}

.p {
    font-family: Arial, sans-serif;
    font-size: larger;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 250px;
    text-align: left;

}
nav {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    height:60px;
    margin:0;
    font-size:30px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    padding:0;
    margin-left:0;
    width:100%;
    
}
nav ul {
    list-style-type: none;
    font: 30px;
    margin-left: 55px;
}
#About {
    margin-left: 980px;
    color:white;
    justify-content: flex-end;
    font-size:30px;
    border: 1px transparent white;
    border-radius: 25px;
    padding: 6px 8px;
    transition: 0.5s;
}
#Contact{
    margin-left: 35px;
    color:white;
    justify-content: flex-end;
    font-size:30px;
    border: 1px transparent white;
    border-radius: 25px;
    padding: 6px 8px;
    transition: 0.5s;
}
#Login {
    margin-left: 1000px;
    color:white;
    justify-content: flex-end;
    font-size:30px;
    border: 1px transparent white;
    border-radius: 25px;
    padding: 6px 8px;
    transition: 0.5s;
}
#Signup {
    margin-left: 50px;
    color:white;
    justify-content: flex-end;
    font-size:30px;
    border: 1px transparent white;
    border-radius: 25px;
    padding: 6px 8px;
    transition: 0.5s;
}
#Profile {
    margin-left: 1000px;
    color:white;
    justify-content: flex-end;
    font-size:30px;
    border: 1px transparent white;
    border-radius: 25px;
    padding: 6px 8px;
    transition: 0.5s;
}
#Back {
    margin-left: 50px;
    color:white;
    justify-content: flex-end;
    font-size:30px;
    border: 1px transparent white;
    border-radius: 25px;
    padding: 6px 8px;
    transition: 0.5s;
}
#About:hover {

    color: rgb(2, 45, 49);
    background-color: white;
}
#Contact:hover {
    color: rgb(2, 45, 49);
    background-color: white;
}
#Login:hover {
    color: rgb(2, 45, 49);
    background-color: white;
}
#Signup:hover {
    color: rgb(2, 45, 49);
    background-color: white;
}
#Back:hover {
    color: rgb(2, 45, 49);
    background-color: white;
}
#Profile:hover {
    color: rgb(2, 45, 49);
    background-color: white;
}
.container1 {
    width: 300px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.367); 
    margin-left: 30px;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom:100px ;
    padding-top: 100px;
    border-radius: 23px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container2 {
    background-color: rgba(255, 255, 255, 0.367); 
    margin-top: 100px;
    margin-left: 325px;
    margin-right: 325px;
    padding-right: 100px;
    border-radius:30px;
    display:flow-root;
}
.container3 {
    margin-top: 250px;
    margin-left: 200px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid white;
}
.container4 {
    margin-left: 100px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid white;
}
.container5 {
    margin-left: 100px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid white;
}
.container6 {
    margin-left: 100px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid white;
}
.container7 {
    margin-left: 100px;
    background-color: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid white;
}
.container3:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 3px white;
}
.container4:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 3px white;
}
.container5:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 3px white;
}
.container6:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 3px white;
}
.container7:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 3px white;
}

h1 {
    position: absolute;
    color: #ffffff;
    font-size: 40px;
    top: 10px;
    left: 10px;
    margin-left: 55px;
}


h2 {
    margin-top: 0;
    font-size: 40px;
}



input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    font-size: 20px;
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 23px;
    box-sizing: border-box;
}


.b1 {
    position: absolute;
    top: 10px;
    right: 140px;
    padding: 10px 20px;
    height: 50px;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
.b2 {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    height: 50px;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ffffff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.b3 {
    font-size: 25px;
    padding-left: 50px;
    padding-right: 50px;
    height: 50px;
    background-color: rgb(0, 0, 0);
    border: none;
    color:white;
    margin-left: 60px;
    border-radius: 25px;
    cursor: pointer;
    
}
.b4 {
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border: none;
    font-size:20px ;
    margin-top:30px;
    margin-left:210px;
    cursor: pointer;
    color: black;
}
.b5 {
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border: none;
    font-size:20px ;
    margin-left: 200px;
    cursor: pointer;
    color: black;

}
.b6 {
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border: none;
    font-size:20px ;
    margin-top:85px;
    margin-left:210px;
    cursor: pointer;
    color: black;

}
.b7 {
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border: none;
    font-size:20px ;
    margin-left:190px;
    cursor: pointer;
    color: black;

}
.b8 {
    background-color: rgba(255, 255, 255, 0);
    color:white;
    font-size:20px ;
    margin-top:70px;
    margin-left:375px;
    cursor: pointer;
    color: black;

}
.b9 {
    background-color: rgba(255, 255, 255, 0);
    font-size: large;
    color: rgb(2, 45, 49);

}
button:hover {
    color:rgb(161, 154, 154)
    
}
.b9:hover {
    color:rgb(2, 55, 49);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #3e3f3e;
}

#text {
    position: absolute;
    left: 10px;
    top: 100px;
    font-size: 24px;
    text-align: center;
    color: #ffffff;
}
a {
    color:black;
}
.icon{
    position: absolute;
    top: 5px;
    left: 40px;
    width: 50px; 
    height: auto; 
}
.remainder {
    width:5%;
    display:inline-block;
    vertical-align: top;
}

.hidden {
    opacity: 0;
    transition: opacity 0.5s;
    position: absolute;
    left: 10px;
    top: 100px;
    font-size: 20px;
    color: white;
    margin-left: 35px;
}

.visible {
    opacity: 1;
}
.button-image1 {
    width: 90px;
    height: 90px;
}
.button-image2 {
    width:90px;
    height:90px;
}
.button-image3 {
    width:90px;
    height:90px;
}
.button-image4 {
    width:90px;
    height:90px;
}
.button-image5 {
    width:90px;
    height:90px;
}

  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"],
  input[type="date"],
  input[type="number"],
  textarea {
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
