<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StegX</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">

    
</head>
<body>
    <nav>
        <ul>
            <li>StegX</li>
        </ul>
        
        
    </nav>

    <div class="container1">
        <h2>Login</h2>
        <form id="loginForm" action="{{ url_for('login') }}" method="post" onsubmit="return true;">
            <input type="email" id="loginEmail" placeholder="Email" required><br>
            <input type="password" id="loginPassword" placeholder="Password" required><br>
            <button type="submit" id="regUser">Login</button>
        </form>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
    </div>
    
        <script type="module">
        
            import { initializeApp } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-app.js";
            import { getDatabase, get,ref,child } from "https://www.gstatic.com/firebasejs/10.11.0/firebase-database.js";
            import { getAuth, signInWithEmailAndPassword} from "https://www.gstatic.com/firebasejs/10.11.0/firebase-auth.js";
            //const database = firebase.database("https://stegx-148c0-default-rtdb.firebaseio.com/");
            const firebaseConfig = {
            apiKey: "AIzaSyCO3yjzquAAGOp3O09V1pr51yqysNALeo0",
            authDomain: "stegx-148c0.firebaseapp.com",
            projectId: "stegx-148c0",
            storageBucket: "stegx-148c0.appspot.com",
            messagingSenderId: "436928947016",
            appId: "1:436928947016:web:db0f12780156e74062897d",
            measurementId: "G-HVER2D87HQ"
    };
              
            const app = initializeApp(firebaseConfig);
            const db = getDatabase();
            const auth = getAuth(app);
            const dbref = ref(db);
            
            let Email = document.getElementById("loginEmail");
            let Password = document.getElementById("loginPassword");
    
                let signInUser = evt => {
                    evt.preventDefault();
                    
                    signInWithEmailAndPassword(auth, Email.value, Password.value)
                        .then((credentials) =>{
                            auth.currentUser.getIdToken()
                            .then((idToken) => {
                                console.log("ID token:", idToken);
                                window.location.href = "/home";
                            })
                            .catch((error) => {
                                console.error("Error getting ID token:", error);
                            });
                        })
                        .catch((error) => {
                            alert(error.message);
                            console.error("Error signing in:", error.code, error.message);
                        });
                };
            regUser.addEventListener('click',signInUser);
        </script>
</body>
</html>